* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  background-color: #3658E1;
}

.container {
  display: block;
  max-height: 760px;
  background-color: white;
  border: 15px solid #252A31;
  border-radius: 12px;
  min-width: 400px;
  max-width: 400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding-top: 40px;
}

.header__title {
  padding-top: 40px;
  max-width: 200px;
}

.header__title p {
  font-size: 22px;
}

.header i {
  font-size: 20px;
}

.search {
  padding-top: 25px;
}

.search__input {
  height: 40px;
  width: 100%;
}

.search__input input {
  padding-left: 20px;
  background-color: #EFF2F5;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.search__input i {
  padding-right: 15px;
}

.search__input input::ng-deep .p-input-text {
  border: none;
}

.options {
  padding-top: 40px;
}

.options__item {
  padding-top: 20px;
}

.options__item:first-of-type {
  padding-top: 0;
}

.options__name {
  padding-left: 6px;
  padding-top: 12px;
}

.options__arrow i {
  padding-top: 10px;
  float: right;
  font-size: 24px;
  color: #8EA3B7;
}


@media(max-width: 500px) {
  .app {
    background-color: white;
    margin: 0;
    padding: 0;
    min-width: none;
    max-width: none;
  }

  .container {
    padding: 0;
    margin: 0;
    height: auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    min-width: 0px;
    max-width: none;
  }
}
