* {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  max-height: 760px;
  background-color: white;
  border: 15px solid #252A31;
  border-radius: 12px;
  min-width: 400px;
  max-width: 400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.app {
  height: 100vh;
  background-color: #3658E1;
}

.header__logo {
  height: 68px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.header {
  padding-top: 120px;
  text-align: center;
}

.header__title {
  color: #3658E1;
  font-size: 16px;
  height: 40px;
}

.header__description {
  font-size: 22px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
}

.cpf {
  border-radius: 8px;
  background-color: #EFF2F5;
  display: block;
  margin-bottom: 20px;
  height: 40px;
}

.cpf p {
  font-size: 14px;
  color: #697D95;
  padding-left: 15px;
  display: inline;
}

.cpf input {
  color: #252A31;
  font-size: 14px;
  background-color: transparent;
  margin-left: 20px;
  height: 40px;
  border: none;
}

.p-inputtext:enabled:focus {
  border: none;
  box-shadow: none;
}

.button__login {
  height: 50px;
  background-color: #8EA3B7;
  border-color: #8EA3B7;
  border-radius: 6px;
}

.button__login--filled {
  height: 50px;
  background-color: #3658E1 !important;
  border-color: #3658E1;
  border-radius: 6px;
}

.button__login:hover {
  background-color: #4c6ae2;
}

.button__login::ng-deep .p-button-label {
  color: white;
}

.button__register {
  margin-top: 10px;
  height: 50px;
  border-radius: 6px;
  background-color: white;
  border-color: white;
}

.button__register:hover {
  background-color: #4c6ae2;
}

.button__register:hover::ng-deep .p-button-label {
  border: none;
  color: white;
}

@media(max-width: 500px) {
  .app {
    background-color: white;
    margin: 0;
    padding: 0;
    min-width: none;
    max-width: none;
  }

  .container {
    padding: 0;
    margin: 0;
    height: auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    min-width: 0px;
    max-width: none;
  }
}
