<div class="app grid col-12">
  <div class="container grid col-12">
    <div class="header grid col-12">
      <div class="header__image col-2">
        <img src="https://i.pinimg.com/originals/a7/f1/28/a7f128e00359237d80d9b128ab4a16fd.jpg">
      </div>
      <div class="header__name col-8">
        <p>Olá, {{costumer.firstName}}!</p>
      </div>
      <div class="header__configurations col-2">
        <a href="javascript:;" [routerLink]="['/settings']" routerLinkActive="active"><i class="pi pi-cog header__cog"></i></a>
      </div>
    </div>
    <div class="balance grid col-12">
      <div class="balance__title col-10">
        <p>Saldos</p>
      </div>
      <div class="balance__visualization col-2">
        <a href="javascript:;"><i class="pi pi-eye balance__eye" (click)="toggleShowBalance()" *ngIf="showBalance"></i></a>
        <a href="javascript:;"><i class="pi pi-eye-slash balance__eye" (click)="toggleShowBalance()" *ngIf="!showBalance"></i></a>
      </div>
      <div class="balance__checking-account col-5">
        <p class="balance__subtitle">Conta corrente</p>
        <div class="balance__value">
          <p *ngIf="showBalance">R$ {{balanceDetails?.getFormattedCheckingBalance()}}</p>
          <div class="balance__value--overshadow" *ngIf="!showBalance"></div>
        </div>
      </div>
      <div class="balance__savings-account col-7">
        <p class="balance__subtitle">Poupança</p>
        <div class="balance__value">
          <p *ngIf="showBalance">R$ {{balanceDetails?.getFormattedSavingsBalance()}}</p>
          <div class="balance__value--overshadow" *ngIf="!showBalance"></div>
        </div>
      </div>
    </div>

    <div class="functionalities grid col-12">
      <div class="functionalities__pix col-4">
        <a href="javascript:;" [routerLink]="['/pix']" routerLinkActive="router-link-active" >
          <div class="functionalities__box">
            <img src="../../assets/imgs/pix.png">
            <p>Pix</p>
          </div>
        </a>
      </div>
      <div class="functionalities__payment col-4">
        <a href="javascript:;" [routerLink]="['/statement']" routerLinkActive="active">
          <div class="functionalities__box functionalities__box--midle">
            <img src="../../assets/imgs/statement.png">
            <p>Extrato</p>
          </div>
        </a>
      </div>
      <div class="functionalities__transference col-4">
        <a href="javascript:;" [routerLink]="['/transference']" routerLinkActive="router-link-active" >
          <div class="functionalities__box functionalities__box--last">
            <img src="../../assets/imgs/transference.png">
            <p>Transferir</p>
          </div>
        </a>
      </div>
      <div class="cards grid col-12">
        <a class="grid col-12" href="javascript:;" [routerLink]="['/credit-cards']" routerLinkActive="router-link-active" >
          <div class="cards__title col-10">
            <p>Meus Cartões</p>
          </div>
          <div class="cards__button col-2"><i class="pi pi-angle-right"></i></div>
        </a>
        <div class="cards__items">
          <div class="cards__card grid col-6" *ngFor="let card of cards2">
            <div class="cards__box grid col-12" [ngClass]="{'cards__card--unified': isBankBoxCard(card)}">
              <div class="cards__logo col-4">
                <img src={{card.getImgUrl()}}>
              </div>
              <div class="cards__number col-8">
                <p>•••• {{card.last_numbers}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="banks grid col-12">
        <a class="grid col-12" href="javascript:;" [routerLink]="['/banks']" routerLinkActive="router-link-active" >
          <div class="banks__title grid col-10">
            <p>Meus Bancos</p>
          </div>
          <div class="banks__arrow col-2"><i class="pi pi-angle-right"></i></div>
        </a>
        <div class="banks__items grid col-12">
          <div class="banks__item grid col-12" *ngFor="let bank of banks">
            <a class="grid col-12" href="javascript:;" (click)="selectBank(bank)">
              <div class="banks__logo col-4">
                <img src={{bank.bank?.img_url}}>
              </div>
              <div class="banks__balance col-8">
                <p *ngIf="showBalance">R$ {{bank.getFormattedBalance()}}</p>
                <div class="banks__value--overshadow" *ngIf="!showBalance"></div>
                <p>Saldo disponível</p>
              </div>
              <div class="banks__account-type col-12">
                <p>{{bank.getAccountType()}}</p>
              </div>
              <div class="banks__agency col-3">
                <p>Agência</p>
                <p>{{bank.agency}}</p>
              </div>
              <div class="banks__account col-5">
                <p>Conta</p>
                <p>{{bank.account}}</p>
              </div>
              <div class="banks__pix col-4" *ngIf="bank.pix_key">
                <p>Pix</p>
                <p>{{bank.pix_key}}</p>
              </div>
            </a>
          </div>
        </div>
        <div class="banks__button col-12">
          <button class="col-12" pButton label="Adicionar conta" [routerLink]="['/choose-bank']" routerLinkActive="active" ></button>
        </div>
      </div>
    </div>
  </div>
</div>
